QMainWindow::separator {
    width:1em;
    height: 1em;
    background:red;
    padding:0.5em;
}

QDockWidget::title {
    text-align: left; /* align the text to the left */
    background: blue;
    padding-left: 5px;
    height: 1em;
    padding: 0.5em;
}

QDockWidget::close-button, QDockWidget::float-button {
    border: 10pt solid green;
    height: 1em;
    width: 1em;
    background: darkgray;
    padding: 10pt;
}
