QMainWindow::separator {
    background-image: url(:/images/assets/resize.svg);
    width:1em;
    height: 1em;
    background: qlineargradient( x1:0 y1:0, x2:0 y2:2, stop:0 #000000, stop:1 #555555);
    padding:0.5em;
}
